body 
{
    background-color: #E9A8C7;
}

#title 
{
    font-size: 100px;
    width: 90%;
    margin: 2% 5%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

#loginDiv
{
    /*font-size: 30px;
    width: 70%;
    margin-left: 15%;
    padding: 25px;*/
    width: 30%;
    margin: auto;
}

#label{
    font-size: 40px;
    width: 100%;
    margin: 2% 5%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

#button{
    font-size: 20px;
    margin: 5% 15%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
    background-color: #482843;
}

.buttons:hover{
    background-color: #00d5124f;
    color: #FFFFFF;
    opacity: 50%;
}

#searchLabel{
    font-size: 40px;
    margin: 2% 5%;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}

#search{
    height: 30px;
    width: 300px;
    margin-bottom: 60px;
}

#searchButton{
    font-size: 20px;
    margin-left: 5%;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
    background-color: #482843;
}

#contactsLabel{
    font-size: 40px;
    margin: 2% 5%;
    font-family: 'Ubuntu', sans-serif;
    color: #FFFFFF;
}